.searchbar-container {
  position: absolute;
  width: 60%;
  left: 0px;
}
.searchbar-container input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: lowercase;
}
.searchbar-container input[type="text"]::placeholder {
  color: grey;
  opacity: 0.5;
  font-weight: 200;
  text-transform: capitalize;
}
.search-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  padding: 11px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .searchbar-container input[type="text"] {
    padding: 12px 20px;
    font-size: 15px;
  }
  .search-icon {
    padding: 13px;
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .searchbar-container input[type="text"] {
    padding: 15px 20px;
  }
  .search-icon {
    padding: 17px;
  }
}

@media screen and (min-width: 900px) {
  .searchbar-container {
    width: 55%;
  }  
}

@media screen and (min-width: 1200px) {
  .searchbar-container {
    width: 60%;
  }  
}
